.servicesAbout {

    .servicesRightContentText {
        li {
            color: white;
            line-height: 19px;
            margin-bottom: 11px;
            letter-spacing: 0.02em;
            font-size: 16px;
            a {
                color: white;
                font-weight: bold;
                &:hover {
                    color: green;
                }
            }
        }
        @media screen and (min-width: 1024px) {
          ul {
              column-count: 2;
          }
      }
    } // end .servicesRightContentText
  
  } // end .servicesAbout