.servicesContent {

    .servicesContentRight {
        @media screen and (min-width: 1024px) {
            position: absolute !important;
        }
    }
 
    .sidebar {
        .sidebarCouponSection {
            
            .couponBorder {
                width: 95%;
                height: 95%;
                border: 1px dashed white;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 10px;
                position: absolute;
            }
        }
        .serviceAreaSection {
            .locationItem {
                max-width: 49%;
                width: 100%;
                flex: 1 100%;
                margin-bottom: 8px;
            }

        }
    }
    @media screen and (min-width: 1024px) {
        ul {
            column-count: 2;
        }
    }

    .btn {
        max-width: 170px;
    }
} // end .servicesContent