.servicesCTA {
    .servicesCTALeft {
        @media screen and (max-width: 1024px) {
            margin: -90px auto 0;
            max-width: 300px;
        }
    }

    .btn {
        max-width: 170px;
    
        &.phoneBtn {
            span {
                color: blue;
            }
            &.blueBtn {
                span {
                    color: white !important;
                }
            }
        }
    }
    

    .phoneBtnItem {
        flex: 1 100%;
        margin-bottom: 10px;
    }

    // phone icon: 
    img.iconImage {
        display: inline-block;
        margin-right: 4px;
        vertical-align: middle;
    }

} // end .servicesCTA