.guaranteesInner {
    position: relative;

    .btn {
        max-width: 170px;
    }
    
    .phoneBtnItem {
        flex: 1 100%;
        margin-bottom: 10px;
    }

    // phone icon: 
    img.iconImage {
        display: inline-block;
        margin-right: 4px;
        vertical-align: middle;
    }

    .guaranteesRight {
        position: absolute;
        height: 500px;
        width: 580px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 10px 0 0px 10px;
      }
    
      @media screen and (max-width: 1024px) {
        .guaranteesMobileImage {
            height: 200px;
        }
      }
} // end .guaranteesInner