@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/hero.scss";
@import "components/intro.scss";
@import "components/about.scss";
@import "components/cta.scss";
@import "components/guarantees.scss";

.wit-landing-page {
background-color: none;
@media screen and (min-width: 1024px) {
    .mobileOnly {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .desktopOnly {
        display: none;;
    }
}

  /* start field template styling: */
//   div {
//     position: relative;
//   }






// img.iconImage {
// 	display: inline-block;
// 	margin-right: 4px;
// 	vertical-align: middle;
// }













} /* End of .wit-landing-page */
