@tailwind base;
@tailwind components;
@tailwind utilities;

.wit-landing-page {
background-color: none;

  .section-name {
	background-color: cadetblue;
  } /* End of .section-name */

  /* start field template styling: */
  div {
    position: relative;
  }
  .servicesHero {

  }
  .servicesIntro {
    .servicesIntroInner {
        max-width: 950px;
        .servicesIntroImage {
            height: 270px;
        }
        &.embed {
            max-width: 1160px !important;
            .servicesIntroImageContainer {
                max-width: 610px;
                @media screen and (min-width: 1000px) and (max-width: 1140px) {
                    max-width: 470px;
                }
            }
            .introEmbed {
                iframe {
                    max-width: 100%;
                    width: 100%;
                }
            }
        }
    }
}
.servicesAbout {
  .servicesAboutLeft {
      h3, h4, h5, a {
          color: lightblue;
      }
  }
  .servicesAboutRight {
    .add-box-shadow {
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    }
  } 
  .servicesRightContentText {
      li {
          color: white;
          line-height: 19px;
          margin-bottom: 11px;
          letter-spacing: 0.02em;
          a {
              color: white;
              font-weight: bold;
              &:hover {
                  color: green;
              }
          }
      }
  }
  @media screen and (min-width: 1024px) {
      ul {
          column-count: 2;
      }
  }
}
  .guaranteesRight {
    position: absolute;
    height: 500px;
    width: 580px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px 0 0px 10px;
  
    @media screen and (max-width: 1024px) {
      .guaranteesMobileImage {
          height: 200px;
      }
    }
  }



} /* End of .wit-landing-page */
